name: Build Linux

on:
  workflow_dispatch: {}
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20"
      - name: Build Linux binary
        run: |
          cd app
          GOOS=linux GOARCH=amd64 go build -o ../dist/versaDumps-$(date +%Y%m%d%H%M)
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: versa-linux
          path: dist/
